@model IEnumerable<VenusBeauty.DAL.Entities.Trabajador>

@{
    ViewData["Title"] = "Usuarios Internos";
}
<h2>Lista de Usuarios Internos</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trabajador in Model)
        {
            <tr>
                <td>@trabajador.Nombre</td>
                <td>@trabajador.Apellido</td>
                <td>@trabajador.Telefono</td>
                <td>@trabajador.Rol</td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input toggle-activo-trabajador"
                               data-id="@trabajador.IdTrabajador"
                               @(trabajador.Activo ? "checked" : "") />
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@trabajador.IdTrabajador" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@trabajador.IdTrabajador" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-3">
    <a class="btn btn-primary" asp-controller="UsuariosInternos" asp-action="Create">Nuevo Usuario Interno</a>
</div>
@section Scripts {
    <script src="~/js/trabajadores/trabajadores.js"></script>
    <script>
        setTimeout(() => {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                alert.classList.remove('show'); // inicia la animación de ocultar
                setTimeout(() => alert.remove(), 500); // elimina el elemento después de 0.5s
            });
        }, 4000); // 4 segundos antes de desaparecer
    </script>
}